// @imports
@import "compass/css3";
@import "compass/reset";

// Global
body {
	font-size: 62.5%;
	font-family: sans-serif;
	color: #000;
	@include box-sizing(border-box);
	.container {
		margin: 20px;
		hgroup {
			h1 {

			}
			h2 {

			}
		}
		nav {
			ul {
				li {

				}
			}
		}
		section {
			h3 {

			}
			p {

			}
		}
		footer {

		}
	}
}

// Images
img {
	width: 100%;
	height: auto;
}

// Typography
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

p {
	font-size: 1.5em;
}

ul {
	font-size: 1.5em;
}

// Carousel
.carousel {
	height: 250px;
	width: 405px;
	position: relative;
	.carousel-item {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&:nth-child(1) {
			background: url('../images/1.jpg');
			z-index: 3;
		}
		&:nth-child(2) {
			background: url('../images/2.jpg');
			z-index: 2;
		}
		&:nth-child(3) {
			background: url('../images/3.jpg');
			z-index: 1;
		}
	}
	.button {
		position: absolute;
		top: 50%;
		z-index: 4;
		display: block;
		width: 10px;
		height: 10px;
		background: blue;
	}
	.left{
		left: -10px;
	}
	.right {
		right: -10px;
	}
}

// New grid.
.news-grid {
	width: 100%;
	text-align: center;
	article {
		width: 33%;
		height: 0;
		padding-bottom: 50%;
		display: inline-block;
		background: red;
	}
}





